body {
    color: white;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 90vh;
    background-image: url(https://assets.lfgruppe.de/oRH5euaRycAxo5NuSaShxkCFiaQ=/1280x542/smart/https%3A%2F%2Fwww.versicherungsforen.net%2Fversicherungs%2Fs3fs-public%2F2021-05%2Fgettyimages-59014765016-9.jpg?itok=b_apVRO4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    text-align: left;
    font-size: 5rem;
    font-style: oblique;
    position: relative;
    top: 14.5rem;
    
}

h4 {
    text-align: left;
    font-size: 5rem;
    font-style: oblique;
    position: relative;
    top: 13.25rem;
}

h5 {
    text-align: left;
    font-size: 5rem;
    font-style: oblique;
    position: relative;
    top: 8rem;
}

h6 {
    text-align: left;
    font-size: 5rem;
    font-style: oblique;
    position: relative;
    bottom: 6rem;
}

#h7 {
    text-align: left;
    font-size: 4rem;
    position: relative;
    top: 12rem;
}

#h8 {
    text-align: left;
    font-size: 2rem;
    position: relative;
    top: 15rem;
}

#h9 {
    text-align: left;
    font-size: 4rem;
    position: relative;
    top: 10rem;
}

#h10 {
    text-align: left;
    font-size: 2rem;
    position: relative;
    top: 13rem;
}

#h11 {
    text-align: left;
    font-size: 2rem;
    position: relative;
    top: 1rem;
}

#h12 {
    text-align: left;
    font-size: 2rem;
    position: relative;
    bottom: 16rem;
}

#box {
    height: 0.3rem;
    width: 88rem;
    background-color: white;
    position: relative;
    top: 17.95rem;
    right:3rem;
}

#box1 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 19.3rem;
}

#box2 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 12rem;
}

#box3 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 19.5rem;
}

#box4 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 10rem;
}

#box5 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 16rem;
}

#box6 {
    height: 0.8rem;
    width: 40rem;
    background-color: white;
    position: relative;
    top: 5rem;
}

#box7 {
    height: 0.8rem;
    width: 40rem;
    background-color: black;
    position: relative;
    top: 4.5rem;
}